@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Ruslan+Display&display=swap');


/*body*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #363636;
}

/*cabeçalho*/

header {
    padding-top: 90px; 
    padding-bottom: 90px;    
    background-image: linear-gradient(to bottom , #12203C , #010101);
    box-shadow: 4px 4px 30px black;

    min-width: 350px;
}

header > h1 { 
    font-size: 3em;
    color: white;
    font-family: 'Ruslan Display',cursive; 
    text-align: center; 
}

header > p {
    color: white;
    text-align: center;
}

/*conteudo*/

main {
    background-color: #DEDEDE;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 30px black ;

    max-width: 800px;
    min-width: 330px;
}

main > a > h2 {
    color: rgb(0, 0, 0);
    font-family: 'Ruslan Display', cursive;
    font-size: 2em;
    text-align: center;
    padding: 5px;  
}

main > a:hover {
    text-decoration: underline black;
}

main > section > a:hover {
    text-decoration: underline black;

}

main > h2 {
    color: rgb(0, 0, 0);
    font-family: 'Ruslan Display', cursive;
    font-size: 2em;
    text-align: center;
    padding: 5px;  
}

main > a {
    text-decoration: none;
}

main > div {
    text-align: center;
}

main > div > a > img {
    background-color: white;
    border-radius: 1px 30px;
    padding: 6px;
    width: 300px;
}

main > div > img {
    background-color: white;
    border-radius: 1px 30px;
    padding: 6px;
    width: 300px;
    text-align: center;
}

main > p {
    color: black;
    text-align: center;
    text-indent: 25px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

/*rodape*/

footer {
    background-color: black;  
    padding-top: 10px;   
    padding-bottom: 10px;
    text-align: center;  
    box-shadow: 4px 4px 30px black;

    min-width: 350px;
}

footer > nav > a {       
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    border-bottom: solid white;
}

/*configuraçoes extras*/

img:hover {
    background-color: #7788998a;
}

.cor1:hover {
    background-color: rgb(0, 153, 153);
}

.cor2:hover {
    background-color: rgb(184, 89, 0);
}

.cor3:hover {
    background-color: red;
}

.cor4:hover {
    background-color: rgba(0, 128, 0, 0.404);
}

span > p > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

span > p > a:hover {
    text-decoration: underline;
    color: gray;
}

span > p > a:active {
    color: #363636;
}

span > p {
    text-align: center;
    color: white;
    margin: 5px;
}
